:root{
    --bg-clr-pr: rgb(25, 146, 212);
    --bg-clr-scd: rgb(226, 239, 252);
    --bg-clr-org: white;

    --lg-fn: 1.25rem;
    --md-fn: 1rem;
    --sm-fn: 0.6rem;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: fit-content;
}

.sidebar{
    background-color: var(--bg-clr-pr);
    color: white;
    grid-area: 1 / 1 / 6 / 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content{
   background-color: var(--bg-clr-scd);
    grid-area: 2 / 2 / 6 / 5;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px repeat(5, 1fr);
    gap: 6px;
    height: fit-content;
}

.grid1, .grid2, .grid3,
.grid4, .grid5, .grid6{
    background-color: var(--bg-clr-org);
    margin: 10px;
    border-left: 7px solid rgb(240, 180, 41);
    border-radius: 4px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid1{
    grid-area: 2 / 1 / 4 / 3;
}

.grid2{
    grid-area: 2 / 3 / 4 / 5;
}

.grid3{
    grid-area: 4 / 1 / 6 / 3;
}

.grid4{
    grid-area: 4 / 3/ 6 / 5;
}

.grid5{
    grid-area: 6 / 1 / 8 / 3;
}

.grid6{
    grid-area: 6 / 3 / 8 / 5;
}

.grid7{
    background-color: var(--bg-clr-org);
    margin: 10px;
    padding: 12px;
    grid-area: 2 / 5 / 5 / 7;
    font-size: var(--md-fn);
    border-radius: 6px;
}
.grid8{
    background-color: var(--bg-clr-org);
    margin: 10px;
    padding: 12px;
    font-size: var(--sm-fn);
    grid-area: 5 / 5 / 8 / 7;
    border-radius: 6px;
}
.header{
    grid-area: 1/ 2 / 2 / 5;

}

.wrapper-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 15px 30px;
}

.wrapper-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 15px 30px;
}

.para{
    display: flex;
    align-items: center;
    gap: 10px;
}

ul{
    list-style: none;

}

a{
    color: white;
    text-decoration: none;
}

input{
    border-radius: 10px;
    width: 600px;
    height: 28px;
    border: none;
    background-color: var(--bg-clr-scd);
}

.side-lists-one, .side-lists-two,
.side-lists-three, .side-lists-four,
.side-lists-five, .side-lists-six, 
.three-lists-1, .three-lists-2
,.three-lists-3, .hero-bar{
    display: flex;
    gap: 10px;
    margin: 10px 0 0 20px;
    align-items: center;
}

svg{
    fill: white;
}

.search svg, .person svg{
    fill: black;
}

.search{
    display: flex;
    align-items: center;
    gap: 10px;
}

.person{
    display: flex;
    gap: 10px;
    align-items: center;
}

img{
    background-color: rgb(255, 255, 0);
}

.hero-buttons{
    display: flex;
    gap: 20px;
    
}

button{
    background-color: var(--bg-clr-pr);
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 20px;
    color: white;
}

.headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 10px;
    grid-area: 1 / 1 / 2/ 7;
}

.headline .two{
    margin-right: 150px;
}

.elements svg{
    fill: black;
}

.elements{
    display: flex;
    justify-content: right;
    gap: 20px;
}

.photo{
    display: flex;
    align-items: center;
    gap: 20px;
}

img{
    border-radius: 50%;
}