@font-face {
    font-family: 'roboto';
    src: url('src/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('src/fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --bg-clr-pr: rgb(25, 146, 212);
    --bg-clr-scd: rgb(226, 239, 252);
    --bg-clr-org: white;

    --lg-fn: 1.25rem;
    --md-fn: 1rem;
    --sm-fn: 0.6rem;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: roboto, Helvetica, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(5, 1fr);
    height: fit-content;
}

.sidebar{
    background-color: var(--bg-clr-pr);
    color: white;
    grid-area: 1 / 1 / 6 / 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content{
   background-color: var(--bg-clr-scd);
    grid-area: 2 / 2 / 6 / 5;
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 200px));;
    grid-template-rows: repeat(6, minmax(80px, 110px));;
    gap: 6px;
}

.grid1, .grid2, .grid3,
.grid4, .grid5, .grid6{
    background-color: var(--bg-clr-org);
    margin: 10px;
    border-left: 7px solid rgb(240, 180, 41);
    border-radius: 4px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ad-board-1, .ad-board-2,
.ad-board-3 h3{
    margin: 10px;
}

.ad-board-1{
    grid-area: 1 / 1 / 3 / 3;
}

.grid2{
    grid-area: 1 / 3 / 3 / 5;
}

.grid3{
    grid-area: 3 / 1 / 5 / 3;
}

.grid4{
    grid-area: 3 / 3 / 5 / 5;
}

.grid5{
    grid-area: 5 / 1 / 7 / 3;
    margin-bottom: 40px;
}

.grid6{
    grid-area: 5 / 3 / 7 / 5;
    margin-bottom: 40px;
}

.ad-board-2{
    grid-area: 1/ 5 / 4 /7;
}

.grid7{
    background-color: var(--bg-clr-org);
    margin: 10px;
    padding: 22px;
    grid-area: 2 / 5 / 5 / 7;
    font-size: var(--sm-fn);
    border-radius: 6px;
}

hr{
    margin: 20px 0;
}
.grid7 h5{
    font-size: var(--md-fn);
}

.ad-board-3{
    grid-area: 4 / 5 / 7 / 7;
    margin-bottom: 40px;
}

.grid8{
    background-color: var(--bg-clr-org);
    margin: 10px 10px 40px 10px;
    padding: 12px;
    font-size: var(--md-fn);
    grid-area: 5 / 5 / 8 / 7;
    border-radius: 6px;
}
.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: fit-content;

}

.wrapper-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 15px 30px;
}

.wrapper-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 15px 30px;
}

.para{
    display: flex;
    align-items: center;
    gap: 10px;
}

ul{
    list-style: none;

}

a{
    color: white;
    text-decoration: none;
}

input{
    border-radius: 20px;
    width: 600px;
    height: 28px;
    border: none;
    background-color: var(--bg-clr-scd);
}

.side-lists-one, .side-lists-two,
.side-lists-three, .side-lists-four,
.side-lists-five, .side-lists-six, 
.three-lists-1, .three-lists-2
,.three-lists-3, .hero-bar{
    display: flex;
    gap: 10px;
    margin: 10px 0 0 20px;
    align-items: center;
    font-weight: 500;
    font-size: var(--lg-fn);
}

svg{
    fill: white;
}

.search svg, .person svg{
    fill: black;
}

.search{
    display: flex;
    align-items: center;
    gap: 10px;
}

.person{
    display: flex;
    gap: 10px;
    align-items: center;
}

img{
    background-color: rgb(255, 255, 0);
}

.hero-buttons{
    display: flex;
    gap: 20px;
    
}

button{
    background-color: var(--bg-clr-pr);
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 20px;
    color: white;
}

.headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 10px;
    grid-area: 1 / 1 / 2/ 7;
}

.headline .two{
    margin-right: 150px;
}

.elements svg{
    fill: black;
}

.elements{
    display: flex;
    justify-content: right;
    gap: 20px;
}

.photo{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 8px;
}

img{
    border-radius: 50%;
}